[submodule "Log"]
	path = Log
	url = https://github.com/maxkofler/Log
[submodule "NamesDB"]
	path = NamesDB
	url = https://github.com/maxkofler/NamesDB
[submodule "args"]
	path = args
	url = https://github.com/Taywee/args
